
<!-- <app-header></app-header> -->


<app-candidat></app-candidat>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Inscription</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <app-new-candidat></app-new-candidat>
    </div>
  </div>
</div>
<br>
<hr>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Modification</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        
        <app-new-dossier></app-new-dossier>
    </div>
  </div>
</div>





